html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background: rgb(99, 95, 163);
    font-family: Georgia, Arial, Helvetica;
}

.education__link {
    text-decoration: none;
}

.footer {
    text-align: center;
}

.main {
    width: 700px;
    max-width: 100%;
    margin: 0px auto;
    padding-top: 80px;
    display: grid;
    grid-template-areas: "button header header"
    "about . content";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    }

.main__header {
    color: rgb(0, 0, 0);
    grid-area: header;
    text-align: center;
}

.main__who-me {
    color: rgb(0, 0, 0);
    grid-area: about;
  
}

.main__who-me--red {
    color: darkred;
    
}

.navigation__link {
    text-decoration: none;
    margin: 10px;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;  
    justify-content: center;
    
}

.navigation__item {
    display: inline;
}

.education__header, .certifications__header, .experience__header, .skills__header, .hobby__header, .table__header {
    font-size: 20px;
    color: darkgreen;
    margin-bottom: 30px;
    clear: left;
}    

.top__header {
    position: fixed;
    width: 100%;
    min-height: 40px;
    height: auto;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background:  white;
    padding: 1px 1px 1px 1px;
    
}

.go__top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: red;
}

.education__picture {
    width: 100%;
    max-width: 60px;
    display: block; 
    float: left;
    margin: 0 15px 15px 0;
}

.header__button {
    grid-area: button;
    height: 50px;
    width: 100px;
    
}

.certyfications__list {
    list-style: none;
    padding: 0;
}

.table {
    padding-bottom: 20px;
    grid-area: content;
    grid-column-start: 2;
    grid-row-start: 3;
}

.table__body {
    width: 100%;
    border: 3px groove black;
    text-align: center;
}

td, th {
    border: 3px groove;
    }


.grid {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width: 690px) {
    .grid {
        grid-template-columns: 1fr;   
    }
    .navigation__item {
        margin: 15px;
    }
    .navigation__list {
        flex-direction: column;
        display:none;
      
    }
    .navigation__list--visible {
        display: flex;
    }
    .navigation__switch {
        border: none;
        background: none;
        padding: 16px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .top__header {
        min-height: 60px;
    }
}

@media (min-width: 691px) {
    .navigation__switch {
        display:none;
    }

}