body {

    background:  rgb(62, 99, 80);
    font-family: Georgia, Arial, Helvetica;
}

#xp {
    background-color: red;
}

.mainHeader {
color: blue;
}

.whoYou {
color:brown;
}

.sectionHeader {
font-size: 20px;
color: green;
background-color: gold;
}
